body {

    background: url(/Fino_Sabor/home/imagens/bolo.jpeg);
    font-family: 'Epilogue', sans-serif;
    padding: 60px 23px 66px;
    font-size: 1.6rem;
}

.background-image {


    position: fixed;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    animation: backgroundAnimation 5s ease-in-out forwards;
}

.fullscreen-logo-container {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    animation: logoAnimation 5s ease-in-out forwards;
}

.fullscreen-logo {
    max-width: 40%;
    max-height: 40%;
}

@keyframes backgroundAnimation {
    0% {
        top: 100%;
        opacity: 0;
        background-color: #9bf3ffa4;
        /* Cor de fundo inicial */
    }

    75% {
        top: 35%;
        opacity: 1;
        background-color: #51dfe9;
        /* Cor de fundo final */
    }
}



.fullscreen-logo-container.visible,
.background-image.visible {
    opacity: 1;

}

.fullscreen-logo,
.background-image {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

#content.visible {
    display: block;
    opacity: 1;
}


main{
    max-width: 33.0rem;
    margin: 0 auto;
}

h1 {
    font-weight: 800;
    font-size: 4.0rem;
    line-height: 4.8rem;

    color: #090039;

    margin-bottom: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

:root{
    font-size: 62.5%;
}

main p:first-child{
    color: blueviolet;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 3.2rem;

    margin-bottom: 1.7rem;
}

h1 + p {
    color: rgba(10, 0, 57, 0.64);
    line-height: 3.2rem;

    margin-bottom: 3.2rem;
}

a {
    color: #090039;

    text-decoration: none;
}

a:hover {
    color: rgb(134, 5, 255);
}

ul{
    margin-top: 7.2rem;
}

ul li {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #090039;

    max-width: 25.7rem;

    display: flex;
    gap: 3.8rem;
}

ul li + li {
    margin-top: 3.2rem;
}

ul li span {
    font-weight: 800;
    font-size: 72px;
    line-height: 8.0rem;

    letter-spacing: -2px;

    color: #090039;
}

@media (min-width: 700px) {
    
    body {
        padding-top: 8rem;
    }
    
    main {
        max-width: 1020px;
        display: flex;
        gap: 10rem;    
    }

main > div {
    max-width: 484px;
}

ul li{
grid-auto-flow: 5.3rem;
max-width: 450px;
align-items: center;
}

}